body { width: 100%; height: 100%; margin: 0px; padding: 0px; }

#level0 {
  height: 300px;
  width: 100%;
}

.left {
  float:left;
  margin-bottom: 50px;
  overflow:hidden;
}

.span5 {
  height:300px;
}

.right {
  float:right;
  margin-bottom: 50px;
  overflow:hidden;
}

.height4h {
  height:300px;
}

#level1-container {
  height:350px;
}

#level2-container {
  height:350px;
}

.level0 {
  height: 300px;
  overflow:hidden;
  width: 100%;
}

.segment-actions.span:hover {
  text-decoration:underline;
}